{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <div class="post-meta">
                <time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">
                    {{date format="dddd, MMMM DD, YYYY"}}
                </time>
            </div>
        </header>
        <section class="post-excerpt">
            <p>
                {{content words="40"}}
                <a class="read-more" href="{{url}}">&hellip;&nbsp;MORE&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
            </p>
        </section>
    </article>

    {{#unless @last}}<hr/>{{/unless}}

    {{/foreach}}

    {{pagination}}

</main>
